.App-header {
  text-align: center;
}

iframe .referer-warning {
  display: none;
}

.challenge {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}