.App-header {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

iframe .referer-warning {
  display: none;
}

.challenge {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.challenge-items {
  display: grid;
  gap: 3rem;
}
@media (min-width: 920px) {
  .challenge-items {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}